body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin: 0;
    background: rgb(235,241,246); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(235,241,246,1) 6%, rgba(171,211,238,1) 52%, rgba(213,235,251,1) 94%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(235,241,246,1) 6%,rgba(171,211,238,1) 52%,rgba(213,235,251,1) 94%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(235,241,246,1) 6%,rgba(171,211,238,1) 52%,rgba(213,235,251,1) 94%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf1f6', endColorstr='#d5ebfb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  margin: 0;
  padding: 0;
  }
  
  header {
    padding: 20px 0;
  }
  
  header .row,
  footer .row {
    display: flex;
    align-items: center;
  }
  
  header h1 {
    font-weight: 700;
    font-size: 25px;
    font-family: Palatino, 'Palatino Linotype', serif;
    margin: 0;
    
  }
  
  header nav {
    display: flex;
    justify-content: flex-end;
    
  }
  
  header p {
    padding: 0 20px;
    margin: 0;
    font-size: 20px; 
  }
  header p:hover{
    color:rgb(255, 255, 255)
  }
  .wcpt {
    margin-top:200px;
    float: righ
    display: flex;
    flex-wrap: wrap;
    right: 150px;
    margin-top: 0px;
    position: relative;
  }
  .wcpt img {
    
    position: absolute;
    top:50px;
    left: 150px;
  }
  .logos {
    margin-top: 200px;
      float: right;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-top: 0px;
    
  }
  
  .jumbotron {
    display: flex;
    align-items: center;
    background-image: url('http://www.thehouseclinics.co.uk/wp-content/uploads/2016/05/Physiotherapy-banner-1.jpg');
    background-size: cover;
    
    
    
  
    color: #ffffff;
    height: 500px;
    text-shadow: 0.25px 0.25px 0.25px #000000;
    
  }
  
  .jumbotron h2 {
    font-size: 60px;
    font-weight: 700;
    margin: 0;
    color:rgb(7, 3, 17);
   
  }
  
  .jumbotron h3 {
    margin: 0 0 20px;
    color:rgb(7, 3, 17);
  }
  
  section .row img {
    margin: 0 0 30px;
    width: 100% ;
    height:350px ;
    border: 2px inset white;
    border-radius: 15px;
  }
  
  .col-md-6 {
    margin: 0 0 30px;
  }
  
  .btn.btn-primary {
    border-radius: 5px;
    border: 0px;
    color: rgb(7, 3, 17);
    text-shadow: none;
    background-color: #ffffff;
  }
  
  .btn.btn-primary:hover {
    color: #ffffff;
    background-color: #070202;
  }
  
  .btn-secondary {
    background-color: #E8DFE0;
    color: #ffffff;
    margin: 0 0 30px;
  }
  
  footer {
    font-size: 12px;
    padding: 20px 0;
  }
  
  footer .col-sm-8 {
    display: flex;
    justify-content: flex-end;
  }
  
  footer ul {
    list-style: none;
  }
  
  footer li img {
    width: 62px;
    height: 62px;
    
  }