body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin: 0;
    background: rgb(235,241,246); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(235,241,246,1) 6%, rgba(171,211,238,1) 52%, rgba(213,235,251,1) 94%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(235,241,246,1) 6%,rgba(171,211,238,1) 52%,rgba(213,235,251,1) 94%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(235,241,246,1) 6%,rgba(171,211,238,1) 52%,rgba(213,235,251,1) 94%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf1f6', endColorstr='#d5ebfb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  }
  
  header {
    padding: 20px 0;
  }
  
  header .row,
  footer .row {
    display: flex;
    align-items: center;
  }
  
  header h1 {
    font-weight: 700;
    font-size: 25px;
    font-family: Palatino, 'Palatino Linotype', serif;
    margin: 0;
    
  }
  
  header nav {
    display: flex;
    justify-content: flex-end;
    
  }
  
  header p {
    padding: 0 20px;
    margin: 0;
    font-size:20px;
    
  }

  .wcpt {
    margin-top:200px;
    float: righ
    display : flex;
    flex-wrap : wrap;
    right : 150px;
    margin-top : 0px;
    position : relative;
  }
  .wcpt img {
    
    position: absolute;
    top:50px;
    left: 150px;
  }
  .logos {
    margin-top: 200px;
      float: right;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-top: 0px;
    
  }



table {
    height: 40%;
    left: 10%;
    margin: 20px auto;
    overflow-y: scroll;
    position: static;
    width: 80%;
    border: 2px solid;
    
  }
  
  thead th {
    background: rgb(18, 160, 105);
    color: rgb(243, 235, 235);
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  
  tr {
    background: #ffffff;
    border-bottom: 3px solid rgb(233, 227, 227);
    margin-bottom: 5px;
    font-size: 20px;
  }
  
  th, td {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    padding: 20px;
    text-align: center;
    width: 33.3333%;
  }
  table, th, td {
    border: 3px solid rgb(212, 207, 207);
}
  .search {
    background-color: #FFF;
    border: 1px solid #DDD;
    border-radius: 3px;
    color: #AAA;
    padding: 20px;
    margin: 50px auto 0px auto;
    width: 77%;
  }
  footer {
    font-size: 12px;
    padding: 20px 0;
  }
  
  footer .col-sm-8 {
    display: flex;
    justify-content: flex-end;
  }
  
  footer ul {
    list-style: none;
  }
  
  footer li img {
    width: 62px;
    height: 62px;
  }